/* Cuerpo del proyecto */
*{
    font-family: 'Hina Mincho', serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
.clearfix{
    zoom: 1;
}
.clearfix::after{
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
.row{
    max-width: 1140px;
    margin: 0 auto;
}
html{
  
    background-color:#fff;
    color: rgb(62, 62, 62);
    font-family:"Roboto",Arial,Helvetica,sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

/* encabezado */

h1{
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 24%;
    word-spacing: 4px;
    letter-spacing: 1px;
}
h2{
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}
h2:after{
    display: block;
    height: 2px;
    background-color:rgb(15, 99, 167) ;
    content: "";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}
section{
    padding: 80px 0;
}
/* home-container */
header{

    background-image: linear-gradient(rgb(0,0,0,0.705),rgb(0,0,0,0.705)), url(../img/img2.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
   
}
/* div .home-container{
    display: inline-block;
    margin-top: auto;

} */
.logo{
    height: 200px;
    width: auto;
    float: left;
    margin-left: 90px;
}

.nav {
    float: right;
    list-style: none;
    margin-top: 80px;
    margin-right: 90px;

}


.nav li{
    display: inline-block;
    margin-left: 20px;
}
.nav li  a{
    text-decoration: none;
    color: #fff;
    font-size: 40px;
    letter-spacing: 1px;
    word-spacing: 3px;
    transition: border-bottom 0.2s;

}

.nav li a:hover{
    border-bottom: 2px salid rgb(15, 99, 167);
}
.home-container{
    display: inline-block;
    margin-left: 50%;
    margin-top: 100px;
    letter-spacing: 1px;
    word-spacing: 3px;
    transform: translate(-50%, 50%);
}

.btn, input[type=submit]{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300px;
    text-decoration: none;
    border-radius: 200px;
    border: 2px solid rgb(15, 99, 167);
    color: white;
    margin-right: 5px;
    font-size: 20px;
    margin-bottom: 10px;
}
input[type=submit]{
    color: #000;
    text-align: center;
}
input[type=submit]:hover{
    background-color: rgb(15, 99, 167) ;
    color: rgb(253, 252, 252);
  
}


.btn-more:hover, input[type=submit]{
    background-color:rgb(15, 99, 167) ;
    /* color: rgb(0, 0, 0); */
}
.btn-contact:hover{
    background-color: rgb(15, 99, 167) ;
    
}
.text-center{
    line-height: 100%;
    width: 70%;
    margin-left: 15%;
}

/* seccion de photo */

.proycts-imagen{
    list-style: none;
    width: 100%;
}

.proycts-imagen li{
    display: block;
    float: left;
    width: 25%;
}
.photo{
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}
.photo img{
    opacity: 0.7;
    width: 100%;
    height: auto;
    transition: transform 0.5s, opacity 0.5s;
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -webkit-transition: webkit-transform 0.5s, opacity 0.5s;
}
.photo img:hover{
    opacity: 1;
    transform: scale(1.03);
}
/* contact */

.contact-form{
    width: 60%;
    margin: 0 auto;
    text-align: center;
}
input[type=text],
input[type=email],
select,
textarea{
    width: 40%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid rgba(2, 240, 248, 0.829);
}
textarea{
    height: 50%;
}
input[type=checkbox]{
    margin: 1px 5px 10px 0;
}
*:focus{
    outline: none;
}
.section-img-footer{
    background-image: -webkit-linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(../img/img1.jpg);
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(../img/img1.jpg);
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}
footer{
    background-color: rgb(31, 29, 29);
        padding: 30px;
        font-size:80%;
}
.footer-nav{
    list-style: none;
    float: left;
    
}
.social-links {
    list-style: none;
    float: right;
}
.footer-nav li,
.footer-nav li a,
.social-links li,
.social-links li a{
    display: inline-block;
    margin-right: 30px;
    text-decoration: none;
    font-size: 20px;
    border: 0;
    color: #888;
    -webkit-transition: color 0.2s;
    transition: 0.2s;
}
.footer-nav li a:hover,
.footer-nav li a:active{
    color: #ddd;
}

.footer-nav li a:link,
.footer-nav li a:visited{
    font: 160%;
}
.fa-facebook-square{
    -webkit-transition:  color 0.2s;
    transition:  color 0.2s;
}


.fa-facebook-square:hover{
    color: #2a52a8;
}
.fa-google:hover{
    color: #dd4b39;
}
.fa-instagram-square:hover{
    color: #961c4f;  
}
.fa-twitter-square:hover{
    color: #00aced;
}
footer p{
    color: #888;
    text-align: center;
    margin-top: 5px;
}
/* telefono pequeño */
@media only screen and (max-width:480px) {
    section{
        padding: 25px 0;
    }
    
    .header{
        height: 110vh;
    }
    .home-container{
        margin-top: 140px;
    }
}
/*  equipo medianos 481-767*/
@media only screen and (max-width:767px){
    body{
        font-size: 16px;
    }

    section{
        padding: 30px 0;
    }
    .row,
    .home-container{
        padding: 0 4%;
    }
    .col{
        width: 180%;
        margin: 0 0 4% 0;
    }
    h1{
        font-size: 180%;
    }
    h2{
        font-size: 150%;
    }
    .text-center{
        width: 100%;
        margin-left: 0%;
    }
}
/* equipos pequeñas y mediana 760-102 */
@media only screen and (max-width:1023px){
    body{
        font-size: 18px;
    }

    section{
        padding: 60px 0;
    }
    .text-center{
        width: 80%;
        margin-left: 10%;
    }
    .plan-content{
        width: 100%;
        margin-left: 0%;
    }
    .plan-price{
        font-size: 250%;
    }
    .contact-form{
        width: 80%;
    }
}

/* grandes 1023-1200 */
@media only screen and (max-width:1200px){
    .home-container{
        width: 100%;
        padding: 0 2%;
    }
    .row{
        padding: 0 25%;
    }
}